header{
  position: fixed;
      top: 0;
      left: 0;
      right: 0;
    margin: 0;
    background-color: #222222;
    width: 100%;
    margin: auto;

    menu-custom{
      float: left;
    }
    search-box{
      float: right;
    }
}
