<div class="wrapper container-fluid">
  <div class="row">
    <div class="image col-sm-2">
      <img src="http://fakeimg.pl/500x500/" class="img-fluid">
    </div>

    <div class="section1 col-sm-5">
      <div class="title">
        <a routerLink='/product/{{getName}}' >{{product.name}}</a>
      </div>
      <div class="brand">
        {{product.brand}}
      </div>
    </div>

    <div class="section2 col-sm-5 pull-left">
      <div class="price">
        {{product.price}}zł
      </div>
      <div class="amount">
        <div *ngIf="product.amount <= 0">
          Produkt niedostępny.
        </div>
        <div *ngIf="product.amount>0">
          <ul>
            <li>
              <button type="button" name="button" class="add-cart-button">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                Dodaj do koszyka
              </button>
            </li>
            <li>
              Dostępna ilość: {{product.amount}} sztuk.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
