@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
// @import 'node_modules/bootstrap/scss/bootstrap';

body{
    font-family: 'PT Sans';
    background: #505050;
    padding-top: 65px;

}
